
.bg-bleu {
	background-color:#003D82;
}
.bg-menu{
	background-color:#039be5;
}
.card-margin{
	margin-top:20px;
	margin-left:20px;
}
.profil{
width: 100%;
    height: 100vh;
    display: inline-block;
    color:white;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: rgb(0 0 0 / 45%) 0 2px 8px;
   text-decoration: none;


}
.textcolor{
    color: var(--bs-white);
    text-decoration: none;
}
.table profil{
	color:white;
}
a{
  color: var(--bs-white);
    text-decoration: none;
}
.fondbleuciel {
    background-color: #015eff;
    color: var(--bs-white);
}

.font {
    font-family: "Poppins";
}

.titre {
    margin-top: 30%;
    margin-bottom: 50%;
    margin-left: 20%;
    width: 100%;
}

.title {
    color: #0c4688;
    font-weight: bold;
    font-size: 20px;
}

#logoentete {
    margin-top: 10px;
    background-image: url(images/logoblanc.png);
    width: 150px;
    height: 50px;
}

.access {
    margin-top: 50%;
    margin-left: 5%;
    font-size: 28px;
    font-weight: bolder;
}

.nom {
    margin-left: 5%;
    margin-top: 10%;
}

.sary {
    margin-top: 20%;
    margin-left: 40%;
    margin-bottom: 20%;
}

.card-title a.re img {
    background-image: url(images/resume.png);
}

.card-title a.re:hover img {
    opacity: .1;
    background-image: url(images/resume-survol.png);
}

.figures {
    position: relative;
}

.figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.figure:hover img.image-hover {
    opacity: 1;
}

.card {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
    transform-origin: center center 0px;
    /*  transition :all .1s ease-out;
  animation-name: animate;
  animation-duration: 1s;*/
    animation-iteration-count: infinite;
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    z-index: 1;
}

    .card:hover {
        animation: unset;
        margin-top: 8vh;
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width 100%;
    height: 100%;
    color: #fff;
}
