<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    @{
        Layout = "~/Views/Shared/_errorstyle.cshtml";
    }
    <div style="height:50px;">
        <center>
            <a href="https://forma2plus.com">
                <div class="logologin" style="margin-top:0px;">
                </div>
            </a>
        </center>
    </div>
    <div style="background-color:white;">
        <center>
            <img src="~/Content/images/Animation-logo-Loader-Forma2Plus-2.gif">

        </center>
    </div>
</body>
</html>
