@media (max-width: 480px) {
    aside {
        top: 100%;
    }

    article {
        margin-right: 0;
        margin-bottom: 463px;
        /* Pour laisser la place au bloc, sinon il se positionne SUR le pied de page
        Sachant que 463px est la hauteur du <aside>.
        Si vous voulez mettre des marges en plus, augmentez cette valeur */
    }
    body {
        background-color: #003D82;
        opacity: 1;
    }
    body.fondsite {
        background: transparent linear-gradient(206deg, #003D82 0%, #0B3058 100%) 0% 0% no-repeat padding-box;
        background-color: #003D82;
        opacity: 1;
    }

    .block {
        width: 390px;
        margin-left: 5px;
        margin-top: 150px;
        margin-right: 150px;
    }

    .form-control#Numero {
        font-size: 36px;
    }

    text-danger {
        color: #f93154 !important;
    }
}
