@{
    Layout = "~/Views/Shared/_errorstyle.cshtml";
}

    <div style="height:50px;">
        <center>
            <a href="https://forma2plus.com">
                <div class="logologin" style="margin-top:0px;">
                </div>
            </a>
        </center>
    </div>
    <div style="background-color:white;">
        <center>
            <img src="~/Content/images/Animation-logo-Loader-Forma2Plus-2.gif">

        </center>
    </div>
    <div class="footer mt-auto">
        
        <span>© 2024 Extranet by forma2plus.com</span>
    </div>